  @font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: bold;
  }
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .header {
    position: relative;
    box-sizing: border-box;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    min-height: 450px;
    z-index: 0;
    padding-top: 28px;
    margin-bottom: 63px;
  }
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  .header-title {
    width: 695px;
    margin: auto;
    padding-top: 100px;
    text-transform: uppercase;
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 45px;
    line-height: 1.67em;
    color: #ffffff;
    text-align: center;
    }
  .trends {
    min-height: 445px;
  }
  .trends-title {
    text-align: center;
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .trends-title:after {
    content:"";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
    margin: 9px auto 30px;
  }
  .trends-wrap {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: flex-end;
  }
  .trends-categories-wrap {
    border:rgba(181, 159, 91, 0.6) solid 3px;
    padding: 39px 0 36px 34px;
  }
  .trends-categories {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .trends-banner {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 16px 18px;
    min-height: 320px;
    width: 25%;
  }
  .trends-banner-title {
    margin-top: 15px;
  }
  .garden {
    position: relative;
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
  }
  .garden:after,
  .cheese:after,
  .mountains:after,
  .lemons:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  .cheese {
    position: relative;
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    margin: 0 0 0 4px;
  }
  .mountains {
    position: relative;
    background-image: url(../images/trend3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    margin: 0 4px 0 4px;
  }
  .lemons {
    position: relative;
    background-image: url(../images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
  }


  .categories-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 20px 0 0;
    align-items: top;
  }
  
  .categories-tag {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #b59f5b; 
  }
  .categories-tag:hover {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #b59f5b;
    text-shadow: 0 0 1px #b59f5b;
  }

  .trends-banner-link:hover {
    color: #b59f5b;
  }
  .trends-banner-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2em;
    text-decoration: none;
  }










  .container {
    max-width: 1200px;
    margin: 0 auto;
    
  }

  
  .menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
  }
  .link-logo {
    margin-left: 18px;
  }
  .menu-wrap-list {
    display: flex;
    list-style-type: none;
    margin: 12px 13px 0 0;
    padding-bottom: 0px;
    min-width: 445px; 
  }
  
  .menu-link {
    font-family: OpenSans;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.2px;
  }
  .menu-link:hover {
    text-decoration: underline;
  }
  .menu-list:nth-child(n+2) {
    margin-left: 34px;
  }
  /* .hobby-news-cards {
    margin-right: 60px;
  } */
  .hobby-news {
    display: flex;
    justify-content: space-between;
    /* padding:0 14px 0 14px; */
  }
  .news-cards {
    width: 778px;
    padding: 0;
    margin: 0;
  }
  .card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .image-card {
    margin: 0 31px 0 0;
  }
  .card-wrap-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: -3px 0 0 0;
    align-items: top;
  }
  
  .card-list:nth-child(n+2) {
    margin-left: 18px;
  }
  .card-tag {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #b59f5b; 
  }
  .card-tag:hover {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #dbd2b7;
    text-shadow: 0 0 1px #b59f5b;
  }
  .card-title {
    margin-top: 7px;
    letter-spacing: 0.15px;
    line-height: 1em;
  }
  .card-title-link:hover {
    color: #b59f5b;
  }
  .card-title-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.2em;
    text-decoration: none;
  }
  .card-date-author {
    margin: 27px 0 45px 0;
  }
  .card-date {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #9a9a9a;
  }
  .card-author {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    color: #000;
    margin-left: 13px;
  }
  .card-text {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #000;
    line-height: 1.47em;
    margin: 0 0 10px;
  }
  .side-bar {
    /* margin-left: 60px; */
    width: 272px;
  }
  .new-posts-title {
    text-align: center;
    margin: -5px 0 0 2px;
  }
  .new-posts-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .new-posts-title:after {
    content:"";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
    margin: 9px auto 28px;
  }
  .post-wrap-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .post {
    display: flex;
    justify-content: flex-start; 
    margin-top: 21px;
    padding: 0;
  }
  .post.interior {
    margin-top: 22px;
  }
  .image-post {
    margin-right: 18px;
  }
  .post-title {
    margin: 0 0 0;
    line-height: 1em;
  }
  .post-title-link:hover {
    color: #b59f5b;
  }
  .post-title-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .post-date {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #9a9a9a;
    margin: -4px 0 2px 0;
    text-align: left;
  }
  .search-container {
    margin: 62px 0 0 0;
  }
  .search-field {
    box-sizing: border-box;
    border: 0;
    width: 224px;
    height: 48px;
    background-color: #f4f7f6;
    padding: 0 0 0 17px;
  }
  .search-field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  .visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .search-btn {
    background-image: url(../svg/search.svg);
    background-size: 18px;
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-position: center center;
    border-color: #b59f5b;
    margin-left: -6px;
    padding: 0;
    width: 48px;
    height: 48px; 
    vertical-align: bottom;
    border: none;
  }
  .search-btn:hover {
    cursor: pointer;
    background-color: #000;
  }
  .subscribe {
    margin-top: 61px;
  }
  .subscribe-title {
    text-align: center;
    margin: 0;
    padding-right: 4px;
  }
  .subscribe-title-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .subscribe-title-link:after {
    content:"";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
    margin: 9px auto 22px;
  }
  .subscribe-container {
    margin: 55px 0 0 0;
  }
  .subscribe-mail {
    box-sizing: border-box;
    border: 0;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    padding: 0 0 0 18px;
  
  
  }
  .subscribe-mail:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  .subscribe-btn {
    display: inline-block;
    width: 100%;
    border-color: #bbbbbb;
    padding: 0;
    height: 49px; 
    vertical-align: bottom;
    outline-color: #bbbbbb;
    background-color: #b59f5b;
    margin: 18px 0 0 0;
  }
  .subscribe-btn:hover {
    cursor: pointer;
    background-color: #000;
  }
  .subscribe-btn-text {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  .tags-container {
    margin: 55px 0 0 0;
  }
  .tags-title {
    text-align: center;
    margin: 0;
  }
  .tags-title-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .tags-title-link:after {
    content:"";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
    margin: 9px auto 24px;
  }
  .tags-wrap-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
  }
  
  .tags-list {
    outline: 3px solid #eeeeee;
    margin: 0 12px 12px 0;
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-right: 14px solid rgba(0, 0, 0, 0);
    border-left: 14px solid rgba(0, 0, 0, 0);
  }
  .tags-list-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000; 
  }
  .tags-list:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #000;
    outline: 3px solid #b59f5b;
  }
  .themes-container {
    margin: 45px 0 0 0;
  }
  .themes-title {
    text-align: center;
    margin: 0;
  }
  .themes-title-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .themes-title-link:after {
    content:"";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
    margin: 9px auto 22px;
  }
  .themes-wrap-list {
    list-style-type: none;
    padding: 0;
  }
  
  .themes-list:after {
    content:"";
    display: block;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    margin: 12px 0 12px 0;
  }
  .themes-list-link {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000; 
  }
  .themes-list-link:hover {
    cursor: pointer;
    color: #b59f5b;
  }
  .themes-index {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 5px;
  }

  .shop-title {
    text-align: center;
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  .shop-title:after {
    content:"";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
    margin: 9px auto 30px;
  }
  .shop {
    width: 100%;
  }
  .shop-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .shop-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 348px;
    margin-top: 28px;
  }
  .shop-list-pic {
    margin-bottom: -30px;

  }
  .shop-content {
    max-width: 100%;
    box-sizing: border-box;
    height: 267px;
    border: solid 3px rgba(181, 159, 91, 0.6);
  }
  .shop-content-title {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin: 40px 0 10px 20px;
  }
  .shop-content-description {
    font-family: OpenSans;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin: 0 0 25px 0;
    padding: 0 20px;
  }

  .shop-content-description:hover {
    cursor: default;
    text-decoration-color: #000;
    text-shadow: 0 0 1px #000;
  }
  .shop-content-link {
    font-family: OpenSans;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: #b59f5b;
    text-decoration: none;
  }
  .shop-content-link:hover {
    cursor: pointer;
    text-decoration-color: #b59f5b;
    text-shadow: 0 0 1px #b59f5b;
  }
  .shop-purchase-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
    margin: 0 0 20px 0;
  }
  .shop-button {
    border: none;
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
  }
  .shop-button:hover {
    cursor: pointer;
    background-color: #323232;
  }

  .shop-price-old {
    text-decoration: line-through;
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    color: #000;
    margin: 0;
  }
  .shop-price-new {
    font-family: OpenSans;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #000;
    margin: 0;
  }
  .footer {
    margin-top: 64px;
  }
  .social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83px;
    background-color: #f4f7f6;
  }
  .social-wrap-list {
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 5px 0 0 3px;
  }
  .social-list:nth-child(n+2) {
    margin-left: 26px;
  }
  
  .social-icon-dribble {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/001-dribbble.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .social-icon-pinerest {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/002-pinterest.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .social-icon-twitter {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/003-tumblr.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .footer-text {
    margin-top: 71px;
    text-align: center;
    padding-left: 10px;
  }
  .basement-text {
    font-family: OpenSans;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    margin-bottom: 50px;
    word-spacing: 0.5px;
  }
  @media (min-width:641px) and (max-width:1200px) {
    .container {  
        max-width: 700px;
        margin: 0 auto;
      }
      .trends-wrap {
        flex-wrap: wrap;
      }
      .trends-banner {
        width: 49.7%;
      }
      .cheese {
        margin: 0 0 4px 4px;
      }
      .mountains {
        margin: 4px 4px 0 0;
      }
  }